openapi: 3.2.0
info:
  title: Huntress API Reference Known VPNs API
  description: '© Huntress - All rights reserved


    Introduction


    Webhook event payloads are available via the dropdown menu above the search bar on this page.'
  version: 1.0.0
servers:
- url: https://api.huntress.io
security:
- basic:
  - basic_auth
tags:
- name: Known VPNs
  description: Operations about Known VPNs
paths:
  /v1/known_vpns:
    get:
      summary: List Known VPNs and Proxies
      description: 'Returns the list of VPN and proxy operators recognized by Huntress.


        Use any value from this list as the `vpn` parameter when creating an Unwanted Access Rule.'
      responses:
        '200':
          description: List Known VPNs and Proxies
          content:
            application/json:
              schema:
                type: object
                properties:
                  known_vpns:
                    type: array
                    items:
                      $ref: '#/components/schemas/KnownVpn'
                required:
                - known_vpns
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnownVpn'
      tags:
      - Known VPNs
      operationId: getV1KnownVpns
components:
  schemas:
    KnownVpn:
      type: object
      properties:
        name:
          type: string
          example: Nord VPN
          description: Human-readable display name of the VPN or proxy operator.
        slug:
          type: string
          example: NORD_VPN
          description: Machine-readable identifier for the VPN or proxy operator. Use this value as the `vpn` parameter when creating an Unwanted Access Rule.
      required:
      - name
      - slug
      description: KnownVpn model
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
