openapi: 3.2.0
info:
  title: Huntress API Reference Platform Actions API
  description: '© Huntress - All rights reserved


    Introduction


    Webhook event payloads are available via the dropdown menu above the search bar on this page.'
  version: 1.0.0
servers:
- url: https://api.huntress.io
security:
- basic:
  - basic_auth
tags:
- name: Platform Actions
  description: Operations about Platform Actions
paths:
  /v1/platform_actions:
    get:
      summary: List Platform Actions
      description: 'Shows Platform Actions associated with your account.

        Additional details for a specific platform action can be obtained by using the **GET Platform Action** endpoint.


        Platform Actions are operational issues that prevent Huntress from fully monitoring or protecting your environment. They notify account administrators of configuration or health problems that require their attention. Common examples include:

        - The Huntress security platform is unable to send incident reports to your PSA system and we need you to reconfigure the integration.

        - Microsoft Defender has been disabled on a host and is no longer providing real-time protection.

        - A Microsoft 365 integration is failing due to an authentication or consent error.

        - A log source has stopped reporting events to the platform or its REST API connection is failing.

        - An on-premises identity sync is mis-configured.

        - A host is low on disk space, impacting EDR functionality.


        Though Platform Actions are not incident reports, they do have severities (low, high, critical) associated with them that dictate an expected response time.'
      parameters:
      - in: query
        name: limit
        description: Max number of resources returned in a paged collection. Defaults to 10, with a minimum of 1 and maximum 500.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 500
          minimum: 1
      - in: query
        name: page_token
        description: Token used to request the next page in paginated results. Defaults to 'null'
        required: false
        schema:
          type: string
      - in: query
        name: sort_field
        description: Field to sort by. Defaults to 'id'.
        required: false
        schema:
          type: string
          enum:
          - id
          - severity
          - due_at
          - created_at
          - updated_at
          default: id
      - in: query
        name: sort_direction
        description: Sort direction. Defaults to 'desc'.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: status
        description: Filter by status.
        required: false
        schema:
          type: string
          enum:
          - open
          - overdue
          - resolved
      - in: query
        name: severity
        description: Filter by severity.
        required: false
        schema:
          type: string
          enum:
          - low
          - high
          - critical
      - in: query
        name: subtype
        description: Filter by subtype.
        required: false
        schema:
          type: string
      - in: query
        name: organization_id
        description: Filter by organization ID.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List Platform Actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  platform_actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlatformAction'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - platform_actions
                - pagination
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAction'
      tags:
      - Platform Actions
      operationId: getV1PlatformActions
  /v1/platform_actions/{id}:
    get:
      summary: Get Platform Action
      description: Shows details on a single Platform Action associated with your account.
      parameters:
      - in: path
        name: id
        description: Platform Action ID within Huntress Account
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get Platform Action
          content:
            application/json:
              schema:
                type: object
                properties:
                  platform_action:
                    $ref: '#/components/schemas/PlatformActionWithEntities'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAction'
      tags:
      - Platform Actions
      operationId: getV1PlatformActionsId
components:
  schemas:
    PlatformAction:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 84938
          description: A Huntress-unique identifier for the Platform Action.
        account:
          type: Account
          example:
            id: 1
            name: Your Account Name
          description: The Account the Platform Action pertains to.
        organizations:
          type: array
          items:
            type: string
          example:
          - id: 1234
            name: ExampleCo
          description: An array of Organizations this Platform Action pertains to.
        created_at:
          type: string
          format: date-time
          example: '2025-09-05T18:20:34Z'
          description: ISO-8601 formatted timestamp for when this Platform Action was created.
        resolved_at:
          type: string
          format: date-time
          example: '2025-09-05T18:20:34Z'
          description: ISO-8601 formatted timestamp for when this Platform Action was resolved.
        severity:
          type: string
          enum:
          - low
          - high
          - critical
          example: low
          description: The severity of the Platform Action.
        status:
          type: string
          enum:
          - open
          - sent
          - resolved
          example: resolved
          description: The status of the Platform Action.
        subject:
          type: string
          example: Defender Disabled
          description: The subject of the Platform Action.
        subtype:
          type: string
          description: An additional classifier for the Platform Action. The interpretation depends on the Platform Action type.
        type:
          type: string
          example: Environmental Issue
          description: The type of the Platform Action.
        updated_at:
          type: string
          format: date-time
          example: '2025-09-05T18:20:34Z'
          description: ISO-8601 formatted timestamp for when this Platform Action was last updated.
      description: PlatformAction model
    PlatformActionWithEntities:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 84938
          description: A Huntress-unique identifier for the Platform Action.
        account:
          type: Account
          example:
            id: 1
            name: Your Account Name
          description: The Account the Platform Action pertains to.
        organizations:
          type: array
          items:
            type: string
          example:
          - id: 1234
            name: ExampleCo
          description: An array of Organizations this Platform Action pertains to.
        created_at:
          type: string
          format: date-time
          example: '2025-09-05T18:20:34Z'
          description: ISO-8601 formatted timestamp for when this Platform Action was created.
        resolved_at:
          type: string
          format: date-time
          example: '2025-09-05T18:20:34Z'
          description: ISO-8601 formatted timestamp for when this Platform Action was resolved.
        severity:
          type: string
          enum:
          - low
          - high
          - critical
          example: low
          description: The severity of the Platform Action.
        status:
          type: string
          enum:
          - open
          - sent
          - resolved
          example: resolved
          description: The status of the Platform Action.
        subject:
          type: string
          example: Defender Disabled
          description: The subject of the Platform Action.
        subtype:
          type: string
          description: An additional classifier for the Platform Action. The interpretation depends on the Platform Action type.
        type:
          type: string
          example: Environmental Issue
          description: The type of the Platform Action.
        updated_at:
          type: string
          format: date-time
          example: '2025-09-05T18:20:34Z'
          description: ISO-8601 formatted timestamp for when this Platform Action was last updated.
        entities:
          type: Object
          example:
            total_count: 1
            has_more: false
            items:
            - id: 1
              type: Agent
              details:
                hostname: laptop01
                platform: windows
                os: Windows 8 Pro
                last_callback_at: '2025-09-05T18:20:35Z'
          description: Object containing information about Entities associated with the Platform Action.
      required:
      - entities
      description: PlatformActionWithEntities model
    Pagination:
      type: object
      properties:
        next_page_url:
          type: string
        next_page_token:
          type: string
      description: Pagination model
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
