openapi: 3.2.0
info:
  title: Huntress API Reference Users API
  description: '© Huntress - All rights reserved


    Introduction


    Webhook event payloads are available via the dropdown menu above the search bar on this page.'
  version: 1.0.0
servers:
- url: https://api.huntress.io
security:
- basic:
  - basic_auth
tags:
- name: Users
  description: Operations about Users
paths:
  /v1/memberships:
    get:
      summary: List Memberships
      description: 'Shows a list of memberships.


        By default, this endpoint returns both account and organization

        memberships, but if an organization ID is supplied, it will return

        only organization memberships, instead.


        The example return value shows both an organization and an account, but

        a given membership will only have one or the other.


        **Note:** This endpoint will also return a `pagination` key on the root level.

        Please refer to the pagination section within our docs for more information.'
      parameters:
      - in: query
        name: limit
        description: Max number of resources returned in a paged collection. Defaults to 10, with a minimum of 1 and maximum 500.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 500
          minimum: 1
      - in: query
        name: page_token
        description: Token used to request the next page in paginated results. Defaults to 'null'
        required: false
        schema:
          type: string
      - in: query
        name: sort_field
        description: Field to sort by. Defaults to 'id'.
        required: false
        schema:
          type: string
          enum:
          - id
          - user_id
          - created_at
          - updated_at
          default: id
      - in: query
        name: sort_direction
        description: Sort direction. Defaults to 'desc'.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: organization_id
        description: Filter by organization ID to return only memberships for that organization.
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: user_id
        description: Filter by user ID to return only memberships for that user.
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: permissions
        description: Filter by permission label.
        required: false
        schema:
          type: string
          enum:
          - Admin
          - Security Engineer
          - User
          - Read-only
          - Finance
          - Marketing
          - Provisioner
      responses:
        '200':
          description: List Memberships
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      $ref: '#/components/schemas/Membership'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - memberships
                - pagination
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
      tags:
      - Users
      operationId: getV1Memberships
    post:
      summary: Create a Membership
      description: 'This endpoint allows you to invite a user to join your organization or

        account. A user will often be a person you wish to grant access to,

        but it could also represent a team, an automated system, or any other

        type of actor.


        If an organization ID is provided, the user will be invited to that

        organization. If not, they will be invited to the account associated

        with this API credential. Note that while the sample return value

        includes both an organization and an account for completeness, in

        practice, only one or the other will be included.


        Note that this is technically creating a Membership Invitation - the

        actual membership won''t be created until the user accepts the

        invitation.'
      responses:
        '201':
          description: Create a Membership
          content:
            application/json:
              schema:
                type: object
                properties:
                  member_invitation:
                    $ref: '#/components/schemas/MemberInvitation'
        '400':
          description: Something about the request is malformed.
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        '404':
          description: Organization not found.
        '422':
          description: Invalid creation parameters.
      tags:
      - Users
      operationId: MembershipCreationParameters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipCreationParameters'
        required: true
  /v1/memberships/{id}:
    get:
      summary: Get Membership
      description: Shows details on a single Membership associated with your account or organization.
      parameters:
      - in: path
        name: id
        description: Membership ID within Huntress account
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get Membership
          content:
            application/json:
              schema:
                type: object
                properties:
                  membership:
                    $ref: '#/components/schemas/Membership'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
      tags:
      - Users
      operationId: getV1MembershipsId
    delete:
      summary: Delete Membership
      description: Deletes a single Membership associated with your account or organization. Does not delete the user associated with the membership.
      parameters:
      - in: path
        name: id
        description: Membership ID within Huntress account
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '202':
          description: Membership deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  membership:
                    $ref: '#/components/schemas/Membership'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        '404':
          description: Membership not found, possibly because it has already been deleted.
        '422':
          description: Failed to delete membership. Please contact support.
      tags:
      - Users
      operationId: deleteV1MembershipsId
    patch:
      summary: Update a User's membership
      description: ''
      parameters:
      - in: path
        name: id
        description: Membership ID within Huntress account
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Update a User's membership
          content:
            application/json:
              schema:
                type: object
                properties:
                  membership:
                    $ref: '#/components/schemas/Membership'
        '400':
          description: Something about the request is malformed.
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        '422':
          description: Something prevented the update.
      tags:
      - Users
      operationId: MembershipUpdateParameters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipUpdateParameters'
        required: true
components:
  schemas:
    MembershipCreationParameters:
      type: object
      properties:
        email:
          type: string
          description: The email address of the user you are inviting.
          example: accounting@example.com
        first_name:
          type: string
          description: The first name of the user you are inviting.
          example: Accounting
        last_name:
          type: string
          description: The last name of the user you are inviting.
          example: Department
        permissions:
          type: string
          description: The specific permissions this membership will grant to the user.
          enum:
          - Admin
          - Security Engineer
          - User
          - Read-only
          - Finance
          - Marketing
          - Provisioner
          example: Read-only
        organization_id:
          type: integer
          format: int32
          description: Include this parameter to invite a user to an organization instead of your account.
          example: 123456
      required:
      - email
      - first_name
      - last_name
      - permissions
      description: Create a Membership
    Membership:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
          description: A unique identifier for this membership. Note that this is _not_ the id of the user, account, etc. Instead, it identifies this specific relationship, which can be used to modify or delete the membership.
        permissions:
          type: string
          enum:
          - Admin
          - Security Engineer
          - User
          - Read-only
          - Finance
          - Marketing
          - Admin-Read-only
          - Provisioner
          example: Read-only
          description: The specific level of permissions that have been granted to this user in the context of this membership.
        account:
          type: Object
          example:
            id: 1234
            name: Exemplary Accounting, LLC
          description: The account associated with this membership (if any).
        organization:
          type: Object
          example:
            id: 5678
            name: Organic Zations
          description: The organization associated with this membership (if any).
        user:
          type: Object
          example:
            id: 90210
            email: little_bobby@example.com
            name: Robert Tables
          description: The user associated with this membership.
        created_at:
          type: string
          example: 2026-01-22 01:07:08 UTC
          description: The time and date that this membership was created.
        updated_at:
          type: string
          example: 2026-01-22 01:07:08 UTC
          description: The time and date that this membership was last updated.
      description: Membership model
    MemberInvitation:
      type: object
      properties:
        permissions:
          type: string
          example: Read-only
          description: The specific level of permissions that have been granted to this user in the context of this membership.
        account:
          type: Object
          example:
            id: 1234
            name: Exemplary Accounting, LLC
          description: The account associated with this membership (if any).
        organization:
          type: Object
          example:
            id: 5678
            name: Organic Zations
          description: The organization associated with this membership (if any).
        user:
          type: Object
          example:
            email: little_bobby@example.com
            name: Robert Tables
          description: The user associated with this membership.
      description: MemberInvitation model
    Pagination:
      type: object
      properties:
        next_page_url:
          type: string
        next_page_token:
          type: string
      description: Pagination model
    MembershipUpdateParameters:
      type: object
      properties:
        permissions:
          type: string
          description: 'The specific level of permissions that have been granted to the user in the context of this membership. For more information, see our [support article](https://support.huntress.io/hc/en-us/articles/4404012728083-Huntress-Portal-User-Permissions) on permissions. Accepted values:

            '
          enum:
          - Admin
          - Finance
          - Marketing
          - Provisioner
          - Read-only
          - Security Engineer
          - User
          example: Security Engineer
      description: Update a User's membership
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
