openapi: 3.2.0
info:
  title: Huntress API Reference Accounts API
  description: '© Huntress - All rights reserved


    Introduction


    Webhook event payloads are available via the dropdown menu above the search bar on this page.'
  version: 1.0.0
servers:
- url: https://api.huntress.io
security:
- basic:
  - basic_auth
tags:
- name: Accounts
  description: Operations about Accounts
paths:
  /v1/account:
    get:
      summary: Get Account
      description: Shows details of the top-level Huntress Account associated with your API credentials.
      responses:
        '200':
          description: Get Account
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      tags:
      - Accounts
      operationId: getV1Account
components:
  schemas:
    Address:
      type: object
      properties:
        line1:
          type: string
          description: Street address line 1.
        line2:
          type: string
          description: Street address line 2.
        city:
          type: string
          description: City.
        state:
          type: string
          description: State or province. Required for US and CA addresses.
        postal_code:
          type: string
          description: Postal or ZIP code. Required for US and GB addresses.
        country:
          type: string
          description: Two-letter ISO 3166-1 alpha-2 country code.
    Account:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
          description: A unique identifier for the account.
        name:
          type: string
          example: Your Account
          description: The public facing display name for the account.
        subdomain:
          type: string
          example: exampleaccount
          description: The subdomain for the account.
        status:
          type: string
          enum:
          - enabled
          - disabled
          example: enabled
          description: The current status of the account.
        support_type:
          type: string
          enum:
          - huntress_supported
          - partner_supported
          - not_applicable
          example: huntress_supported
          description: For accounts that have been provisioned through a reseller, this field indicates whether the account is huntress supported or partner supported.
        neighborhood_watch:
          type: Object
          example:
            edr: 10
            ispm: 10
            itdr: 10
            sat: 10
            siem: 10
          description: The count of Neighborhood Watch seats assigned to the account, by product.
        billing_address:
          $ref: '#/components/schemas/Address'
          description: The billing address for the account, or null if not set.
        shipping_address:
          $ref: '#/components/schemas/Address'
          description: The shipping address for the account, or null if not set.
      description: Account model
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
