openapi: 3.2.0
info:
  title: Huntress API Reference Actor API
  description: '© Huntress - All rights reserved


    Introduction


    Webhook event payloads are available via the dropdown menu above the search bar on this page.'
  version: 1.0.0
servers:
- url: https://api.huntress.io
security:
- basic:
  - basic_auth
tags:
- name: Actor
  description: Operations about Actors
paths:
  /v1/actor:
    get:
      summary: Get Actor
      description: 'Shows details of the entities associated with the supplied API credentials. It will only return the fields relevant to the current credentials.

        For more information on User management, see Product Support'
      responses:
        '200':
          description: Get Actor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Actor'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Actor'
      tags:
      - Actor
      operationId: getV1Actor
components:
  schemas:
    Actor:
      type: object
      properties:
        reseller:
          type: Object
          example:
            id: 12345
            name: ResellerCo
          description: Information about the reseller associated with the supplied API credentials (if any).
        account:
          type: Object
          example:
            id: 12345
            name: Huntress
            subdomain: huntress
            status: enabled
          description: Information about the account associated with the supplied API credentials (if any).
        user:
          type: Object
          example:
            id: 12345
            email: email@example.com
            name: Your User
          description: Information about the user associated with the supplied API credentials (if any).
      description: Actor model
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
