openapi: 3.2.0
info:
  title: Huntress API Reference Invoices API
  description: '© Huntress - All rights reserved


    Introduction


    Webhook event payloads are available via the dropdown menu above the search bar on this page.'
  version: 1.0.0
servers:
- url: https://api.huntress.io
security:
- basic:
  - basic_auth
tags:
- name: Invoices
  description: Operations about Invoices
paths:
  /v1/invoices:
    get:
      summary: List Account Invoices
      description: 'Shows Invoices associated with your account.


        **Note:** This endpoint will also return a `pagination` key on the root level.

        Please refer to the pagination section within our docs for more information.'
      parameters:
      - in: query
        name: limit
        description: Max number of resources returned in a paged collection. Defaults to 10, with a minimum of 1 and maximum 500.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 500
          minimum: 1
      - in: query
        name: page_token
        description: Token used to request the next page in paginated results. Defaults to 'null'
        required: false
        schema:
          type: string
      - in: query
        name: sort_field
        description: Field to sort by. Defaults to 'id'.
        required: false
        schema:
          type: string
          enum:
          - id
          - created_at
          - updated_at
          - status
          default: id
      - in: query
        name: sort_direction
        description: Sort direction. Defaults to 'desc'.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: status
        description: Filter by status. One of open, paid, failed, partial_refund, full_refund, draft, voided, processing
        required: false
        schema:
          type: string
          enum:
          - open
          - paid
          - failed
          - partial_refund
          - full_refund
          - draft
          - voided
          - processing
      - in: query
        name: has_usage
        description: When true, returns only invoices with usage (subscription-cycle invoices). When false, returns only invoices without usage (manually-created invoices).
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: List Account Invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - invoices
                - pagination
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
      tags:
      - Invoices
      operationId: getV1Invoices
  /v1/invoices/{id}:
    get:
      summary: Get Account Invoice
      description: Shows details on a single Invoice associated with your account.
      parameters:
      - in: path
        name: id
        description: Invoice ID within Huntress account
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get Account Invoice
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    $ref: '#/components/schemas/Invoice'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
      tags:
      - Invoices
      operationId: getV1InvoicesId
components:
  schemas:
    Invoice:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
          description: A unique identifier for the invoice.
        amount:
          type: integer
          format: int32
          example: 303
          description: The amount intended to be collected by this invoice. <a href='https://stripe.com/docs/api/charges/object#charge_object-amount'>Mimics Stripe.</a>.
        created_at:
          type: string
          format: date-time
          example: '2022-03-01T20:56:15Z'
          description: ISO-8601 formatted timestamp for when this invoice was created.
        currency_type:
          type: string
          example: usd
          description: The currency type, using a <a href='https://en.wikipedia.org/wiki/ISO_4217'>ISO-4217</a> three-letter code in lowercase.
        plan:
          type: string
          example: Huntress Partner 100 Agents
          description: The corresponding name of huntress subscription plan sku.
        quantity:
          type: integer
          format: int64
          example: 101
          description: The total count of licensed agents accounted for in this invoice.
        receipt:
          type: string
          example: https://pay.stripe/com/invoice/invst_uuid
          description: A direct link to stripe payment invoice for this invoice.
        status:
          type: string
          example: paid
          description: The invoice status. Can be one of `open`, `paid`, `failed`, `partial_refund`, `full_refund`.
        has_usage:
          type: boolean
          example: true
          description: Whether this invoice has associated usage line items.
        updated_at:
          type: string
          format: date-time
          example: '2022-03-01T20:56:15Z'
          description: ISO-8601 formatted timestamp for when this invoice was last updated.
      description: Invoice model
    Pagination:
      type: object
      properties:
        next_page_url:
          type: string
        next_page_token:
          type: string
      description: Pagination model
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
