openapi: 3.2.0
info:
  title: Huntress API Reference Organizations API
  description: '© Huntress - All rights reserved


    Introduction


    Webhook event payloads are available via the dropdown menu above the search bar on this page.'
  version: 1.0.0
servers:
- url: https://api.huntress.io
security:
- basic:
  - basic_auth
tags:
- name: Organizations
  description: Operations about Organizations
paths:
  /v1/organizations:
    get:
      summary: List Organizations
      description: 'Shows details of Organizations belonging to the account associated with your API credentials.


        **Note:** This endpoint will also return a `pagination` key on the root level.

        Please refer to the pagination section within our docs for more information.'
      parameters:
      - in: query
        name: limit
        description: Max number of resources returned in a paged collection. Defaults to 10, with a minimum of 1 and maximum 500.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 500
          minimum: 1
      - in: query
        name: page_token
        description: Token used to request the next page in paginated results. Defaults to 'null'
        required: false
        schema:
          type: string
      - in: query
        name: sort_field
        description: Field to sort by. Defaults to 'id'.
        required: false
        schema:
          type: string
          enum:
          - id
          - created_at
          - updated_at
          - name
          - key
          default: id
      - in: query
        name: sort_direction
        description: Sort direction. Defaults to 'desc'.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: name
        description: Filter by organization name.
        required: false
        schema:
          type: string
      - in: query
        name: key
        description: Filter by organization key.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: List Organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - organizations
                - pagination
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      tags:
      - Organizations
      operationId: getV1Organizations
    post:
      summary: Create an Organization
      description: ''
      responses:
        '201':
          description: Create an Organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    $ref: '#/components/schemas/Organization'
        '400':
          description: Something about the request is malformed.
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '422':
          description: Invalid creation parameters.
      tags:
      - Organizations
      operationId: OrganizationCreationParameters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreationParameters'
        required: true
  /v1/organizations/{id}:
    get:
      summary: Get Organization
      description: Shows details on a single Organization associated with your account.
      parameters:
      - in: path
        name: id
        description: Organization ID within Huntress account
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get Organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    $ref: '#/components/schemas/OrganizationWithActualProductUsages'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      tags:
      - Organizations
      operationId: getV1OrganizationsId
    patch:
      summary: Update an Organization
      description: ''
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Update an Organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    $ref: '#/components/schemas/Organization'
        '400':
          description: Something about the request is malformed.
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '422':
          description: Invalid update parameters.
      tags:
      - Organizations
      operationId: OrganizationUpdateParameters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateParameters'
        required: true
    delete:
      summary: Delete an Organization
      description: 'Deletes the specified Organization.


        **Please note:** This will remove the organization and associated configurations across the Huntress Platform, including Managed SAT. For more information, see our offboarding guide.'
      parameters:
      - in: path
        name: id
        description: The id of the organization to be deleted
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '202':
          description: Organization deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    $ref: '#/components/schemas/Organization'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Organization not found, possibly because it has already been deleted.
        '409':
          description: There is a conflict about the organization that prevents deletion. See error message for more details.
        '422':
          description: Failed to delete organization. Please contact support.
      tags:
      - Organizations
      operationId: deleteV1OrganizationsId
components:
  schemas:
    OrganizationWithActualProductUsages:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
          description: A Huntress-unique identifier for the organization.
        agents_count:
          type: integer
          format: int64
          example: 42
          description: Number of all agents for the organization.
        account_id:
          type: integer
          format: int64
          example: 5
          description: The unique identifier of the account associated with the organization.
        created_at:
          type: string
          format: date-time
          example: '2022-03-01T18:54:02Z'
          description: A timestamp for when the organization was created, formatted as per ISO-8601.
        incident_reports_count:
          type: integer
          format: int64
          example: 42
          description: Number of incident reports for the organization.
        key:
          type: string
          example: test1
          description: The subdomain associated with the organization.
        logs_sources_count:
          type: integer
          format: int64
          example: 42
          description: Number of SIEM log sources that are billable and eligible for billing.
        identity_provider_tenant_id:
          type: string
          example: dcd219dd-bc68-4b9b-bf0b-4a33a796be35
          description: The Identity Provider Tenant ID associated with the organization
        billable_identity_count:
          type: integer
          format: int64
          example: 42
          description: Number of billable identities for the organization.
        name:
          type: string
          example: Acme Inc.
          description: The public facing name for this organization.
        report_recipients:
          type: array
          items:
            type: string
          example:
          - test@test.com
          - fakenotificiation@test.com
          description: A list of emails Huntress is configured to send notification emails for the organization.
        sat_learner_count:
          type: integer
          format: int64
          example: 42
          description: Number of SAT learners.
        updated_at:
          type: string
          format: date-time
          example: '2022-03-01T18:54:02Z'
          description: A timestamp for when the organization was updated, formatted as per ISO-8601.
        actual_usages:
          type: string
          example:
            siem:
              billable_log_sources_count: 5
              retention: 90/7
              current_billing_cycle:
                online_gb: 12.34
                service_period_start: '2026-04-15T00:00:00Z'
                service_period_end: '2026-05-15T00:00:00Z'
              previous_billing_cycle:
                online_gb: 10.5
                service_period_start: '2026-03-15T00:00:00Z'
                service_period_end: '2026-04-15T00:00:00Z'
            edr:
              billable_agents_count: 42
              unresponsive_agents_count: 2
              outdated_agents_count: 1
              isolated_agents_count: 0
            sat:
              learners_count: 25
            ispm:
            - type: microsoft
              identity_provider_tenant_id: abcd-1234
              billable_identities_count: 100
              total_identities_count: 150
            itdr:
            - type: microsoft
              identity_provider_tenant_id: abcd-1234
              billable_identities_count: 100
              total_identities_count: 150
            - type: google
              identity_provider_tenant_id: efgh-5678
              billable_identities_count: 50
              total_identities_count: 75
          description: Actual usage metrics for the organization's active products, broken down by product type. **NOTE:** log usage data has a max retention of 90 days.
      required:
      - microsoft_365_tenant_id
      - microsoft_365_users_count
      - notify_emails
      description: OrganizationWithActualProductUsages model
    OrganizationCreationParameters:
      type: object
      properties:
        name:
          type: string
          description: The name of the organization. Value cannot be blank and must be 256 characters or less.
          example: Most Amazing Company, Ltd.
        key:
          type: string
          description: Organization keys are used to associate a Huntress Agent into a grouping. Value cannot be blank and must be 256 characters or less.
          example: amazing
      required:
      - name
      - key
      description: Create an Organization
    OrganizationUpdateParameters:
      type: object
      properties:
        name:
          type: string
          description: The name of the organization. Value cannot be blank and must be 256 characters or less.
          example: Most Amazing Company, Ltd.
        key:
          type: string
          description: Organization keys are used to associate a Huntress Agent into a grouping. Value cannot be blank and must be 256 characters or less.
          example: amazing
        report_recipients:
          type: array
          description: Any emails specified here will automatically receive quarterly and monthly branded reports.
          example:
          - vera@bradley.com
          - my@user.net
          items: null
      description: Update an Organization
    Pagination:
      type: object
      properties:
        next_page_url:
          type: string
        next_page_token:
          type: string
      description: Pagination model
    Organization:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
          description: A Huntress-unique identifier for the organization.
        agents_count:
          type: integer
          format: int64
          example: 42
          description: Number of all agents for the organization.
        account_id:
          type: integer
          format: int64
          example: 5
          description: The unique identifier of the account associated with the organization.
        created_at:
          type: string
          format: date-time
          example: '2022-03-01T18:54:02Z'
          description: A timestamp for when the organization was created, formatted as per ISO-8601.
        incident_reports_count:
          type: integer
          format: int64
          example: 42
          description: Number of incident reports for the organization.
        key:
          type: string
          example: test1
          description: The subdomain associated with the organization.
        logs_sources_count:
          type: integer
          format: int64
          example: 42
          description: Number of SIEM log sources that are billable and eligible for billing.
        identity_provider_tenant_id:
          type: string
          example: dcd219dd-bc68-4b9b-bf0b-4a33a796be35
          description: The Identity Provider Tenant ID associated with the organization
        billable_identity_count:
          type: integer
          format: int64
          example: 42
          description: Number of billable identities for the organization.
        name:
          type: string
          example: Acme Inc.
          description: The public facing name for this organization.
        report_recipients:
          type: array
          items:
            type: string
          example:
          - test@test.com
          - fakenotificiation@test.com
          description: A list of emails Huntress is configured to send notification emails for the organization.
        sat_learner_count:
          type: integer
          format: int64
          example: 42
          description: Number of SAT learners.
        updated_at:
          type: string
          format: date-time
          example: '2022-03-01T18:54:02Z'
          description: A timestamp for when the organization was updated, formatted as per ISO-8601.
      required:
      - microsoft_365_tenant_id
      - microsoft_365_users_count
      - notify_emails
      description: Organization model
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
