openapi: 3.2.0
info:
  title: Huntress API Reference Identities API
  description: '© Huntress - All rights reserved


    Introduction


    Webhook event payloads are available via the dropdown menu above the search bar on this page.'
  version: 1.0.0
servers:
- url: https://api.huntress.io
security:
- basic:
  - basic_auth
tags:
- name: Identities
  description: Operations about Identities
paths:
  /v1/identities:
    get:
      summary: List Identities
      description: 'Shows Identities associated with your account.


        **Note:** This endpoint will also return a `pagination` key on the root level.

        Please refer to the pagination section within our docs for more information.'
      parameters:
      - in: query
        name: limit
        description: Max number of resources returned in a paged collection. Defaults to 10, with a minimum of 1 and maximum 500.
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 500
          minimum: 1
      - in: query
        name: page_token
        description: Token used to request the next page in paginated results. Defaults to 'null'
        required: false
        schema:
          type: string
      - in: query
        name: sort_field
        description: Field to sort by. Defaults to 'id'.
        required: false
        schema:
          type: string
          enum:
          - id
          - created_at
          - updated_at
          default: id
      - in: query
        name: sort_direction
        description: Sort direction. Defaults to 'desc'.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: organization_id
        description: Filter by organization ID within Huntress account.
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: tenant_type
        description: Filter by identity provider type.
        required: false
        schema:
          type: string
          enum:
          - microsoft_365
          - google_workspace
      - in: query
        name: billable
        description: Filter by billable status.
        required: false
        schema:
          type: boolean
      - in: query
        name: enabled
        description: Filter by enabled status.
        required: false
        schema:
          type: boolean
      - in: query
        name: external
        description: Filter by external/guest status.
        required: false
        schema:
          type: boolean
      - in: query
        name: risk_level
        description: Filter by risk level.
        required: false
        schema:
          type: string
          enum:
          - none
          - low
          - medium
          - high
      - in: query
        name: mfa_enabled
        description: Filter by MFA enabled status.
        required: false
        schema:
          type: boolean
      - in: query
        name: escalation_id
        description: Filter by an escalation ID within Huntress account.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List Identities
          content:
            application/json:
              schema:
                type: object
                properties:
                  identities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Identity'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - identities
                - pagination
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
      tags:
      - Identities
      operationId: getV1Identities
  /v1/identities/{id}:
    get:
      summary: Get Identity
      description: Shows details on a single Identity associated with your account.
      parameters:
      - in: path
        name: id
        description: Identity ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get Identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  identity:
                    $ref: '#/components/schemas/Identity'
        '403':
          description: There was an issue with your API credential or permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
      tags:
      - Identities
      operationId: getV1IdentitiesId
components:
  schemas:
    Pagination:
      type: object
      properties:
        next_page_url:
          type: string
        next_page_token:
          type: string
      description: Pagination model
    Identity:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 12345678
          description: A unique identifier for the identity.
        account:
          type: Account
          example:
            id: 1
            name: Your Account Name
          description: The account associated with the identity.
        organization:
          type: Organization
          example:
            id: 1
            name: Your Organization Name
          description: The organization associated with the identity.
        tenant:
          type: Object
          example:
            id: 123
            type: google_workspace
          description: The M365 or Google Workspace tenant details.
        username:
          type: string
          example: user@example.com
          description: The user principal name of the identity.
        email:
          type: string
          example: user@example.com
          description: The email address of the identity.
        enabled:
          type: boolean
          example: true
          description: Whether the identity is enabled in the identity provider.
        billable:
          type: boolean
          example: true
          description: Whether the identity has billable licenses or status. Per-identity value; no cross-identity deduplication.
        enabled_products:
          type: array
          items:
            type: string
          example:
          - itdr
          - ispm
          description: Huntress products active on the identity's tenant.
        mfa_enabled:
          type: boolean
          example: true
          description: Whether MFA or 2-step verification is enabled for this identity.
        risk_level:
          type: string
          example: none
          description: The risk level of the identity.
        risk_state:
          type: string
          example: none
          description: The risk state of the identity.
        risk_detail:
          type: string
          example: none
          description: The risk assessment detail for the identity.
        risk_last_updated_at:
          type: string
          format: date-time
          example: '2022-03-01T20:05:10Z'
          description: The last time risk data was synced from Entra, formatted as per ISO-8601.
        password_last_changed_at:
          type: string
          format: date-time
          example: '2022-03-01T20:05:10Z'
          description: The last time the password was changed, formatted as per ISO-8601.
        on_premises_sync_enabled:
          type: boolean
          example: false
          description: Whether the identity is synced from on-premises Active Directory.
        external:
          type: boolean
          example: false
          description: Whether the identity is an external or guest user.
        created_at:
          type: string
          format: date-time
          example: '2022-03-01T20:05:10Z'
          description: A timestamp for when the identity was first seen, formatted as per ISO-8601.
        updated_at:
          type: string
          format: date-time
          example: '2022-03-01T20:05:10Z'
          description: A timestamp for when the identity was last updated, formatted as per ISO-8601.
      description: Identity model
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
